@import "bower_components/bootstrap/scss/bootstrap-reboot";

@import "typo";

.container {
  text-align: center;
  margin-top: 44px;

  @media screen and (max-width: 1138px){
    margin-top: 0;
  }
}

.sidebar {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  text-align: left;

  @media screen and (max-width: 1138px){
    width: 140px;
    padding: 0 30px;
  }

  @media screen and (max-width: 767px){
    width: 80px;
    padding: 0 5px;
  }
}

.logo {
  display: block;
  background: url(../images/logo.svg) 0 0 no-repeat;
  background-size: contain;
  width: 6vw;
  height: 8vw;
  max-width: 74px;
  max-height: 104px;
  margin: 2vw 0 3vw 10px;

  @media screen and (max-width: 767px){
    width: 12vw;
    height: 16vw;
    margin: 2vw 0 5vw 10px;
  }

  &:hover {
    background-color: transparent;
  }

  // &:before {
  //   content: "";
  //   display: block;
  //   height: 100%;
  // }
}

.logo-li {
  display: block;
  background: url(../images/logo-li.jpg) 0 0 no-repeat;
  background-size: contain;
  width: 11vw;
    height: 26vw;
  max-width: 124px;
  max-height: 337px;
  margin: 0 0 4vw;
  text-indent: -9999px;

  @media screen and (max-width: 767px){
    width: 18vw;
    height: 49vw;
  }
}

.dest-navigation {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;

  @media screen and (max-width: 1138px){
    font-size: 13px;
  }

  @media screen and (max-width: 767px){
    font-size: 10px;
  }
}

.dest-gallery {
  width: 980px;
  display: inline-block;
  vertical-align: top;

  @media screen  and (max-width: 1130px){
    width: 600px;
    margin-right: 20px;
  }

  @media screen and (max-width: 767px){
    width: 226px;
    margin-right: 5px;
  }

  ul {
    list-style: none;
    @include clearfix;
  }

  li {
    width: 230px;
    height: 230px;
    margin: 0 0 15px 15px;
    background-position: center;
    background-size: 70% auto;
    background-repeat: no-repeat;
    float: left;
    position: relative;

    @media screen and (max-width: 1130px){
      width: 140px;
      height: 140px;
      margin: 0 0 10px 10px;
    }

    @media screen and (max-width: 767px){
      width: 108px;
      height: 108px;
      margin: 0 0 5px 5px;
    }

    &:hover {
      figure {
        display: block;
      }
    }

    &:nth-child(4n){
      figure {
        right: 0;
        left: auto;
      }
    }

    @media screen and (max-width: 767px) {
      &:nth-child(2n){
        figure {
          right: 0;
          left: auto;
        }
      }
    }

    &:nth-last-child(-n+2) {
      figure {
        bottom: 0;
        top: auto;
      }
    }

    @media screen and (min-width: 768px) {
      &:nth-last-child(-n+4) {
        figure {
          bottom: 0;
          top: auto;
        }
      }
    }

    &.coruna {
      position: relative;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2d2d1+0,d2d2d1+49,ffffff+50,ffffff+50,ffffff+100 */
        background: #d2d2d1; /* Old browsers */
        background: -moz-linear-gradient(top, #d2d2d1 0%, #d2d2d1 49%, #ffffff 50%, #ffffff 50%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #d2d2d1 0%,#d2d2d1 49%,#ffffff 50%,#ffffff 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #d2d2d1 0%,#d2d2d1 49%,#ffffff 50%,#ffffff 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d2d1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        background-size: 100% 9px;
      }
    }
  }

  figure {
    display: none;
    width: 475px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    margin: 0;

    @media screen and (max-width: 1130px){
      width: 290px;
    }

    @media screen and (max-width: 767px){
      width: 221px;
    }

    &:after {
      content: "";
      width: 78px;
      height: 24px;
      background: url(../images/logo-link.png) 0 0 no-repeat;
      position: absolute;
      bottom: 35px;
      right: 25px;
    }

    img {
      max-width: 100%;
    }
  }

  figcaption {
    position: absolute;
    bottom: 15px;
    left: 25px;
    color: white;
    text-shadow: 1px 1px 1px #555;
  }

}
